@media (max-width: 575px) {
    body {
        margin: 0;
        padding: 0
    }
    .contact a{
        font-size: 20px;
    }
    header {
        background-image: url("../img/mobile/header_mobile.png");
        margin-top: 10px;
    }

    .header-inner {
        height: 50vh;

    }

    .header-inner {
        height: 50vh;

    }

    .header-wrap {
        padding-top: 20%;
        text-align: center;
    }

    .head-title {
        font-size: 40px;
    }

    .head-subtitle {
        font-size: 18px;
    }

    hr {
        height: 20px;
        width: 100%;
        background-color: white;
        border: none;
    }

    h2 {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 48px;
        color: white;
    }

    h3 {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 24px;
        color: white;
    }

    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        color: white;
        text-align: center;
    }

    p {
        font-family: "Open Sans", sans-serif;
        color: #fff;
        font-size: 14px;
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
    }

    .curators-wrap-mobile {
        display: block;


    }

    .curator {
        max-width: 300px;
        margin: auto;
    }

    .curators-wrap-mobile img {
        margin: auto;
        max-width: 100%;

    }

    .curators-wrap {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu-mobile {
        padding: 0;
        margin: 0;
        height: 70px;
        width: 95%;
        display: flex;
        justify-content: space-between;
    }

    .menu-mobile nav {
        padding: 0;
        margin: 0;
    }

    .menu-mobile ul {
        list-style-type: none;
    }

    /* */
    #menu__toggle {
        opacity: 0;
    }

    /* стилизуем кнопку */
    .menu__btn {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;
        /* центрируем содержимое кнопки */
        width: 26px;
        height: 26px;
        cursor: pointer;
    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: #ffffff;
    }

    .menu__btn>span::before {
        content: "";
        top: -8px;
    }

    .menu__btn>span::after {
        content: "";
        top: 8px;
    }

    /* контейнер меню */
    .menu__box {
        display: none;
        width: 80vw;
        height: 60vh;
        margin: 0;
        padding: 5px 0 0 0;
        left: 0;
        list-style: none;
        text-align: center;
        background-color: #47578a;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    }

    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 5px solid white;
    }

    .menu__bosx hr {
        height: 5px;
        width: 100%;
        color: white;
    }

    .menu__item:hover {
        color: #FA5328;
    }

    #menu__toggle:checked~.menu__box {
        display: block;
        visibility: visible;
    }

    .hamburger-menu {
        position: relative;
        z-index: 9999;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        transition-duration: .25s;
    }

    .menu__box {
        transition-duration: .25s;
    }

    .menu__item {
        transition-duration: .25s;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    .curator-wrap {

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

    }
}

@media (max-width: 469px) {
    .container {
        margin-left: 5px;
        margin-right: 5px;

    }

    .contact {
        display: grid;
        grid-template-columns: 30px 200px;
        gap: 5px;
        padding: 20px;

    }

    .header-wrap {
        padding-top: 30%;
    }
}
@media (max-width: 270px) {
    .contact {
        display: grid;
        grid-template-columns: 30px 130px;
        gap: 3px;
        padding: 15px;

    }
    }