@import url("normalize.css");
@import url("footer.css");
@import url("curators.css");
@import url("menu.css");
@import url("header.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
    background-color: #47578a;
}

.container {
    max-width: 1300px;
    margin: auto;
}

hr {
    height: 50px;
    width: 100%;
    background-color: white;
    border: none;
}

h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 64px;
    color: white;
}

h3 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 36px;
    color: white;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
}

p {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 24px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}
a:hover {
  color: #FA5328;
}

.work ul {
    list-style-image: url("../img/marker.svg");
}

.contact a {
    color: white;
    font-size: 24px;
}
.contact a:hover {
  color: #FA5328;
}
.contact {
    display: grid;
    grid-template-columns: 30px 400px;
    gap: 20px;
    padding: 20px;
}
#ratapp{
    width: 30px;
    height: 35px;
}
.contact img{
    width: 30px;
    height: 30px;
}
footer img{
    width: 30px;
    height: 30px;
}